header{
    height: 15%;
}
header h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
}

nav{
    border: 1px solid;
    font-family:'Times New Roman', Times, serif;
}
nav:hover{
    
}

nav ul{
    margin: 0;
    list-style: none;
}
nav ul li{
    float: left;
    width: 32%;
    height: 50px;
    line-height: 300%;
    text-align: center;
    padding:0 10px;
}

nav li a{

    text-decoration: none;
    color: inherit;
}

nav li a:hover{
    text-decoration: underline;
}

#main{
    border: 1px 0 0 0 solid;
    padding:8% 10%;
}